{% extends 'base.html' %}
{% load static %}
{% block title %}INDEX{% endblock %}

{% block content %}
<center>
    <h2>LIBRARY</h2>
    <ul>
        <li><a href="/view">VIEW BOOK</a></li>
        <li><a href="/search_view">search BOOK</a></li>
        <li><a href="/add">ADD BOOK</a></li>
        <li><a href="/add2">ADD BOOK2</a></li>
        <li><a href="">factorial</a></li>
        <li><a href="/del">DEL BOOK</a></li>
        <li><a href="/register">register</a></li>
    </ul>
</center>
{% endblock %}